{% extends "layouts/base.html" %}
{% load static %}
{% block content %}



<!-- Start Banner Area -->
<div class="rbt-banner-area rbt-banner-1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 pb--120 pt--70">
                <div class="content">
                    <div class="inner">
                        <div class="rbt-new-badge rbt-new-badge-one">
                            <span class="rbt-new-badge-icon">🏆</span> The Leading English Medium Institute
                        </div>

                        <h1 class="title">
                            Build The Skills <br> To Drive Your Career.
                        </h1>
                        <p class="description">
                            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                            <strong>Velit
                                officia consequat.</strong>
                        </p>
                        <div class="slider-btn">
                            <a class="rbt-btn btn-gradient hover-icon-reverse" href="#">
                                <span class="icon-reverse-wrapper">
                                    <span class="btn-text">View Course</span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="shape-wrapper" id="scene">
                        <img src="{% static "assets/images/banner/banner-01.png" %}" alt="Hero Image">
                        <div class="hero-bg-shape-1 layer" data-depth="0.4">
                            <img src="{% static "assets/images/shape/shape-01.png" %}" alt="Hero Image Background Shape">
                        </div>
                        <div class="hero-bg-shape-2 layer" data-depth="0.4">
                            <img src="{% static "assets/images/shape/shape-02.png" %}" alt="Hero Image Background Shape">
                        </div>
                    </div>

                    <div class="banner-card pb--60 mb--50 swiper rbt-dot-bottom-center banner-swiper-active">
                        <div class="swiper-wrapper">

                            <!-- Start Single Card  -->
                            <div class="swiper-slide">
                                <div class="rbt-card variation-01 rbt-hover">
                                    <div class="rbt-card-img">
                                        <a>
                                            <img src="{% static "assets/images/course/course-01.jpg" %}" alt="Card image">
                                        </a>
                                    </div>
                                    <div class="rbt-card-body">
                                        <h4 class="rbt-card-title"><a>O-Level</a>
                                        </h4>
                                        <p class="rbt-card-text">It is a long established fact that a reader
                                            will be distracted.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Card  -->
                            <!-- Start Single Card  -->
                            <div class="swiper-slide">
                                <div class="rbt-card variation-01 rbt-hover">
                                    <div class="rbt-card-img">
                                        <a>
                                            <img src="{% static "assets/images/course/course-01.jpg" %}" alt="Card image">
                                        </a>
                                    </div>
                                    <div class="rbt-card-body">
                                        <h4 class="rbt-card-title"><a>Pre O-Level</a>
                                        </h4>
                                        <p class="rbt-card-text">It is a long established fact that a reader
                                            will be distracted.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Card  -->
                            <!-- Start Single Card  -->
                            <div class="swiper-slide">
                                <div class="rbt-card variation-01 rbt-hover">
                                    <div class="rbt-card-img">
                                        <a>
                                            <img src="{% static "assets/images/course/course-01.jpg" %}" alt="Card image">
                                        </a>
                                    </div>
                                    <div class="rbt-card-body">
                                        <h4 class="rbt-card-title"><a>A-Level</a>
                                        </h4>
                                        <p class="rbt-card-text">It is a long established fact that a reader
                                            will be distracted.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Card  -->


                        </div>
                        <div class="rbt-swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Banner Area -->

<div class="rbt-categories-area bg-color-white rbt-section-gapBottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <span class="subtitle bg-primary-opacity">SUBJECTS</span>
                    <h2 class="title">Explore Subjects We Offer</h2>
                </div>
            </div>
        </div>
        <div class="row g-5 mt--20">
            <!-- Start Category Box Layout  -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <a class="rbt-cat-box rbt-cat-box-1 text-center" href="course-filter-one-toggle.html">
                    <div class="inner">
                        <div class="icons">
                            <img src="{% static "assets/images/category/web-design.png" %}" alt="Icons Images">
                        </div>
                    </div>
                </a>
            </div>
            <!-- End Category Box Layout  -->

            <!-- Start Category Box Layout  -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <a class="rbt-cat-box rbt-cat-box-1 text-center" href="course-filter-one-toggle.html">
                    <div class="inner">
                        <div class="icons">
                            <img src="{% static "assets/images/category/design.png" %}" alt="Icons Images">
                        </div>
                        <div class="content">
                            <h5 class="title">Graphic Design</h5>
                        </div>
                    </div>
                </a>
            </div>
            <!-- End Category Box Layout  -->

            <!-- Start Category Box Layout  -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <a class="rbt-cat-box rbt-cat-box-1 text-center" href="course-filter-one-toggle.html">
                    <div class="inner">
                        <div class="icons">
                            <img src="{% static "assets/images/category/personal.png" %}" alt="Icons Images">
                        </div>
                        <div class="content">
                            <h5 class="title">Personal Development</h5>
                        </div>
                    </div>
                </a>
            </div>
            <!-- End Category Box Layout  -->

            <!-- Start Category Box Layout  -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <a class="rbt-cat-box rbt-cat-box-1 text-center" href="course-filter-one-toggle.html">
                    <div class="inner">
                        <div class="icons">
                            <img src="{% static "assets/images/category/server.png" %}" alt="Icons Images">
                        </div>
                        <div class="content">
                            <h5 class="title">IT and Software</h5>
                        </div>
                    </div>
                </a>
            </div>
            <!-- End Category Box Layout  -->

            <!-- Start Category Box Layout  -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <a class="rbt-cat-box rbt-cat-box-1 text-center" href="course-filter-one-toggle.html">
                    <div class="inner">
                        <div class="icons">
                            <img src="{% static "assets/images/category/pantone.png" %}" alt="Icons Images">
                        </div>
                        <div class="content">
                            <h5 class="title">Sales Marketing</h5>
                        </div>
                    </div>
                </a>
            </div>
            <!-- End Category Box Layout  -->

            <!-- Start Category Box Layout  -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <a class="rbt-cat-box rbt-cat-box-1 text-center" href="course-filter-one-toggle.html">
                    <div class="inner">
                        <div class="icons">
                            <img src="{% static "assets/images/category/paint-palette" %}.png" alt="Icons Images">
                        </div>
                        <div class="content">
                            <h5 class="title">Art & Humanities</h5>
                        </div>
                    </div>
                </a>
            </div>
            <!-- End Category Box Layout  -->

            <!-- Start Category Box Layout  -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <a class="rbt-cat-box rbt-cat-box-1 text-center" href="course-filter-one-toggle.html">
                    <div class="inner">
                        <div class="icons">
                            <img src="{% static "assets/images/category/smartphone.png" %}" alt="Icons Images">
                        </div>
                        <div class="content">
                            <h5 class="title">Mobile Application</h5>
                        </div>
                    </div>
                </a>
            </div>
            <!-- End Category Box Layout  -->

            <!-- Start Category Box Layout  -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <a class="rbt-cat-box rbt-cat-box-1 text-center" href="course-filter-one-toggle.html">
                    <div class="inner">
                        <div class="icons">
                            <img src="{% static "assets/images/category/infographic.png" %}" alt="Icons Images">
                        </div>
                        <div class="content">
                            <h5 class="title">Finance & Accounting</h5>
                        </div>
                    </div>
                </a>
            </div>
            <!-- End Category Box Layout  -->
        </div>
    </div>
</div>

<!-- Start About Area  -->
<div class="rbt-course-area bg-color-extra2 rbt-section-gap about-style-1">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="thumbnail-wrapper">
                    <div class="thumbnail image-1">
                        <img data-parallax='{"x": 0, "y": -20}' src="{% static "assets/images/about/about-01.png" %}" alt="Education Images">
                    </div>
                    <div class="thumbnail image-2 d-none d-xl-block">
                        <img data-parallax='{"x": 0, "y": 60}' src="{% static "assets/images/about/about-02.png" %}" alt="Education Images">
                    </div>
                    <div class="thumbnail image-3 d-none d-md-block">
                        <img data-parallax='{"x": 0, "y": 80}' src="{% static "assets/images/about/about-03.png" %}" alt="Education Images">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="inner pl--50 pl_sm--0 pl_md--0">
                    <div class="section-title text-start">
                        <span class="subtitle bg-coral-opacity">Know About Us</span>
                        <h2 class="title">Cerebral Heights</h2>
                    </div>

                    <p class="description mt--30">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>

                    <!-- Start Feature List  -->

                    <div class="rbt-feature-wrapper mt--20 ml_dec_20">
                        <div class="rbt-feature feature-style-2 rbt-radius">
                            <div class="icon bg-pink-opacity">
                                <i class="feather-heart"></i>
                            </div>
                            <div class="feature-content">
                                <h6 class="feature-title">Flexible Classes</h6>
                                <p class="feature-description">It is a long established fact that a reader will
                                    be distracted by this on readable content of when looking at its layout.</p>
                            </div>
                        </div>

                        <div class="rbt-feature feature-style-2 rbt-radius">
                            <div class="icon bg-primary-opacity">
                                <i class="feather-book"></i>
                            </div>
                            <div class="feature-content">
                                <h6 class="feature-title">Learn From Anywhere</h6>
                                <p class="feature-description">Sed distinctio repudiandae eos recusandae laborum eaque non eius iure suscipit laborum eaque non eius iure suscipit.</p>
                            </div>
                        </div>
                    </div>

                    <!-- End Feature List  -->
                    <div class="about-btn mt--40">
                        <a class="rbt-btn btn-gradient hover-icon-reverse" href="#">
                            <span class="icon-reverse-wrapper">
                    <span class="btn-text">More About Us</span>
                            <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                            <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End About Area  -->


<!-- Start Counterup Area  -->
<div class="rbt-counterup-area bg-color-extra2 rbt-section-gapBottom default-callto-action-overlap">
    <div class="container">
        <div class="row mb--60">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <span class="subtitle bg-primary-opacity">Why Choose Us</span>
                    <h2 class="title">Creating A Community Of <br /> Life Long Learners.</h2>
                </div>
            </div>
        </div>
        <div class="row g-5 hanger-line">
            <!-- Start Single Counter  -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="rbt-counterup rbt-hover-03 border-bottom-gradient">
                    <div class="top-circle-shape"></div>
                    <div class="inner">
                        <div class="rbt-round-icon">
                            <img src="{% static "assets/images/icons/counter-01.png" %}" alt="Icons Images">
                        </div>
                        <div class="content">
                            <h3 class="counter"><span class="odometer" data-count="100">00</span>
                            </h3>
                            <span class="subtitle">Students</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Counter  -->

            <!-- Start Single Counter  -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 mt--60 mt_md--30 mt_sm--30 mt_mobile--60">
                <div class="rbt-counterup rbt-hover-03 border-bottom-gradient">
                    <div class="top-circle-shape"></div>
                    <div class="inner">
                        <div class="rbt-round-icon">
                            <img src="{% static "assets/images/icons/counter-02.png" %}" alt="Icons Images">
                        </div>
                        <div class="content">
                            <h3 class="counter"><span class="odometer" data-count="800">00</span>
                            </h3>
                            <span class="subtitle">Subjects</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Counter  -->

            <!-- Start Single Counter  -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 mt_md--60 mt_sm--60">
                <div class="rbt-counterup rbt-hover-03 border-bottom-gradient">
                    <div class="top-circle-shape"></div>
                    <div class="inner">
                        <div class="rbt-round-icon">
                            <img src="{% static "assets/images/icons/counter-03.png" %}" alt="Icons Images">
                        </div>
                        <div class="content">
                            <h3 class="counter"><span class="odometer" data-count="1000">00</span>
                            </h3>
                            <span class="subtitle">Batches</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Counter  -->

            <!-- Start Single Counter  -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 mt--60 mt_md--30 mt_sm--30 mt_mobile--60">
                <div class="rbt-counterup rbt-hover-03 border-bottom-gradient">
                    <div class="top-circle-shape"></div>
                    <div class="inner">
                        <div class="rbt-round-icon">
                            <img src="{% static "assets/images/icons/counter-04.png" %}" alt="Icons Images">
                        </div>
                        <div class="content">
                            <h3 class="counter"><span class="odometer" data-count="100">00</span>
                            </h3>
                            <span class="subtitle">Registered Enrolls</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Counter  -->
        </div>
    </div>
</div>
<!-- End Counterup Area  -->

<!-- Start Testimonial Area   -->
<div class="rbt-testimonial-area bg-color-white rbt-section-gap overflow-hidden">
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title text-center mb--10">
                        <span class="subtitle bg-primary-opacity">EDUCATION FOR EVERYONE</span>
                        <h2 class="title">Students Love Cerebral Heights. <br />
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="scroll-animation-wrapper no-overlay mt--50">
        <div class="scroll-animation scroll-right-left">

            <!-- Start Single Testimonial  -->
            <div class="single-column-20 bg-theme-gradient-odd">
                <div class="rbt-testimonial-box style-2">
                    <div class="inner">
                        <div class="description">
                            <p class="subtitle-3">After the launch, vulputate at sapien sit amet,
                                auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus velit.</p>
                            <div class="clint-info-wrapper">
                                <div class="thumb">
                                    <img src="{% static "assets/images/testimonial/client-01.png" %}" alt="Clint Images">
                                </div>
                                <div class="client-info">
                                    <h5 class="title">Martha Maldonado, <span>CEO</span></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Testimonial  -->
            <!-- Start Single Testimonial  -->
            <div class="single-column-20 bg-theme-gradient-odd">
                <div class="rbt-testimonial-box style-2">
                    <div class="inner">
                        <div class="description">
                            <p class="subtitle-3">After the launch, vulputate at sapien sit amet,
                                auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus velit.</p>
                            <div class="clint-info-wrapper">
                                <div class="thumb">
                                    <img src="{% static "assets/images/testimonial/client-01.png" %}" alt="Clint Images">
                                </div>
                                <div class="client-info">
                                    <h5 class="title">Martha Maldonado, <span>CEO</span></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Testimonial  -->
            <!-- Start Single Testimonial  -->
            <div class="single-column-20 bg-theme-gradient-odd">
                <div class="rbt-testimonial-box style-2">
                    <div class="inner">
                        <div class="description">
                            <p class="subtitle-3">After the launch, vulputate at sapien sit amet,
                                auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus velit.</p>
                            <div class="clint-info-wrapper">
                                <div class="thumb">
                                    <img src="{% static "assets/images/testimonial/client-01.png" %}" alt="Clint Images">
                                </div>
                                <div class="client-info">
                                    <h5 class="title">Martha Maldonado, <span>CEO</span></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Testimonial  -->
            <!-- Start Single Testimonial  -->
            <div class="single-column-20 bg-theme-gradient-odd">
                <div class="rbt-testimonial-box style-2">
                    <div class="inner">
                        <div class="description">
                            <p class="subtitle-3">After the launch, vulputate at sapien sit amet,
                                auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus velit.</p>
                            <div class="clint-info-wrapper">
                                <div class="thumb">
                                    <img src="{% static "assets/images/testimonial/client-01.png" %}" alt="Clint Images">
                                </div>
                                <div class="client-info">
                                    <h5 class="title">Martha Maldonado, <span>CEO</span></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Testimonial  -->
            <!-- Start Single Testimonial  -->
            <div class="single-column-20 bg-theme-gradient-odd">
                <div class="rbt-testimonial-box style-2">
                    <div class="inner">
                        <div class="description">
                            <p class="subtitle-3">After the launch, vulputate at sapien sit amet,
                                auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus velit.</p>
                            <div class="clint-info-wrapper">
                                <div class="thumb">
                                    <img src="{% static "assets/images/testimonial/client-01.png" %}" alt="Clint Images">
                                </div>
                                <div class="client-info">
                                    <h5 class="title">Martha Maldonado, <span>CEO</span></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Testimonial  -->
            <!-- Start Single Testimonial  -->
            <div class="single-column-20 bg-theme-gradient-odd">
                <div class="rbt-testimonial-box style-2">
                    <div class="inner">
                        <div class="description">
                            <p class="subtitle-3">After the launch, vulputate at sapien sit amet,
                                auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus velit.</p>
                            <div class="clint-info-wrapper">
                                <div class="thumb">
                                    <img src="{% static "assets/images/testimonial/client-01.png" %}" alt="Clint Images">
                                </div>
                                <div class="client-info">
                                    <h5 class="title">Martha Maldonado, <span>CEO</span></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Testimonial  -->
            <!-- Start Single Testimonial  -->
            <div class="single-column-20 bg-theme-gradient-odd">
                <div class="rbt-testimonial-box style-2">
                    <div class="inner">
                        <div class="description">
                            <p class="subtitle-3">After the launch, vulputate at sapien sit amet,
                                auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus velit.</p>
                            <div class="clint-info-wrapper">
                                <div class="thumb">
                                    <img src="{% static "assets/images/testimonial/client-01.png" %}" alt="Clint Images">
                                </div>
                                <div class="client-info">
                                    <h5 class="title">Martha Maldonado, <span>CEO</span></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Testimonial  -->
            <!-- Start Single Testimonial  -->
            <div class="single-column-20 bg-theme-gradient-odd">
                <div class="rbt-testimonial-box style-2">
                    <div class="inner">
                        <div class="description">
                            <p class="subtitle-3">After the launch, vulputate at sapien sit amet,
                                auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus velit.</p>
                            <div class="clint-info-wrapper">
                                <div class="thumb">
                                    <img src="{% static "assets/images/testimonial/client-01.png" %}" alt="Clint Images">
                                </div>
                                <div class="client-info">
                                    <h5 class="title">Martha Maldonado, <span>CEO</span></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Testimonial  -->
            <!-- Start Single Testimonial  -->
            <div class="single-column-20 bg-theme-gradient-odd">
                <div class="rbt-testimonial-box style-2">
                    <div class="inner">
                        <div class="description">
                            <p class="subtitle-3">After the launch, vulputate at sapien sit amet,
                                auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus velit.</p>
                            <div class="clint-info-wrapper">
                                <div class="thumb">
                                    <img src="{% static "assets/images/testimonial/client-01.png" %}" alt="Clint Images">
                                </div>
                                <div class="client-info">
                                    <h5 class="title">Martha Maldonado, <span>CEO</span></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Testimonial  -->
            <!-- Start Single Testimonial  -->
            <div class="single-column-20 bg-theme-gradient-odd">
                <div class="rbt-testimonial-box style-2">
                    <div class="inner">
                        <div class="description">
                            <p class="subtitle-3">After the launch, vulputate at sapien sit amet,
                                auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus velit.</p>
                            <div class="clint-info-wrapper">
                                <div class="thumb">
                                    <img src="{% static "assets/images/testimonial/client-01.png" %}" alt="Clint Images">
                                </div>
                                <div class="client-info">
                                    <h5 class="title">Martha Maldonado, <span>CEO</span></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Testimonial  -->
            <!-- Start Single Testimonial  -->
            <div class="single-column-20 bg-theme-gradient-odd">
                <div class="rbt-testimonial-box style-2">
                    <div class="inner">
                        <div class="description">
                            <p class="subtitle-3">After the launch, vulputate at sapien sit amet,
                                auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus velit.</p>
                            <div class="clint-info-wrapper">
                                <div class="thumb">
                                    <img src="{% static "assets/images/testimonial/client-01.png" %}" alt="Clint Images">
                                </div>
                                <div class="client-info">
                                    <h5 class="title">Martha Maldonado, <span>CEO</span></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Testimonial  -->
        </div>
    </div>

</div>
<!-- End Testimonial Area   -->

<!-- Start Event Area  -->
<div class="rbt-event-area rbt-section-gap bg-gradient-3">
    <div class="container">
        <div class="row mb--55">
            <div class="section-title text-center">
                <span class="subtitle bg-white-opacity">STIMULATED TO TAKE PART IN?</span>
                <h2 class="title color-white">Gallery</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="swiper event-activation-1 rbt-arrow-between rbt-dot-bottom-center pb--60 icon-bg-primary">

                    <div class="swiper-wrapper">
                        <!-- Start Single Slide  -->
                        <div class="swiper-slide">
                            <div class="single-slide">
                                <div class="rbt-card event-grid-card variation-01 rbt-hover">
                                    <div class="rbt-card-img">
                                        <a href="event-details.html">
                                            <img src="{% static "assets/images/event/grid-type-02.jpg" %}" alt="Card image">
                                        </a>
                                    </div>
                                    <div class="rbt-card-body">
                                        <h4 class="rbt-card-title"><a href="event-details.html">Painting Art Contest 2020 for histudy
                                                Clud</a></h4>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Slide  -->
                        <!-- Start Single Slide  -->
                        <div class="swiper-slide">
                            <div class="single-slide">
                                <div class="rbt-card event-grid-card variation-01 rbt-hover">
                                    <div class="rbt-card-img">
                                        <a href="event-details.html">
                                            <img src="{% static "assets/images/event/grid-type-02.jpg" %}" alt="Card image">
                                        </a>
                                    </div>
                                    <div class="rbt-card-body">
                                        <h4 class="rbt-card-title"><a href="event-details.html">Painting Art Contest 2020 for histudy
                                                Clud</a></h4>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Slide  -->
                        <!-- Start Single Slide  -->
                        <div class="swiper-slide">
                            <div class="single-slide">
                                <div class="rbt-card event-grid-card variation-01 rbt-hover">
                                    <div class="rbt-card-img">
                                        <a href="event-details.html">
                                            <img src="{% static "assets/images/event/grid-type-02.jpg" %}" alt="Card image">
                                        </a>
                                    </div>
                                    <div class="rbt-card-body">
                                        <h4 class="rbt-card-title"><a href="event-details.html">Painting Art Contest 2020 for histudy
                                                Clud</a></h4>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Slide  -->
                        <!-- Start Single Slide  -->
                        <div class="swiper-slide">
                            <div class="single-slide">
                                <div class="rbt-card event-grid-card variation-01 rbt-hover">
                                    <div class="rbt-card-img">
                                        <a href="event-details.html">
                                            <img src="{% static "assets/images/event/grid-type-02.jpg" %}" alt="Card image">
                                        </a>
                                    </div>
                                    <div class="rbt-card-body">
                                        <h4 class="rbt-card-title"><a href="event-details.html">Painting Art Contest 2020 for histudy
                                                Clud</a></h4>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Slide  -->

                    </div>

                    <div class="rbt-swiper-arrow rbt-arrow-left">
                        <div class="custom-overfolow">
                            <i class="rbt-icon feather-arrow-left"></i>
                            <i class="rbt-icon-top feather-arrow-left"></i>
                        </div>
                    </div>

                    <div class="rbt-swiper-arrow rbt-arrow-right">
                        <div class="custom-overfolow">
                            <i class="rbt-icon feather-arrow-right"></i>
                            <i class="rbt-icon-top feather-arrow-right"></i>
                        </div>
                    </div>

                    <div class="rbt-swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% comment %} Team area {% endcomment %}

<div class="rbt-team-area bg-color-extra2 rbt-section-gap">
    <div class="container">
        <div class="row mb--60">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <span class="subtitle bg-pink-opacity">Our Instructor</span>
                    <h2 class="title">Word Class Best Instructor</h2>
                    <p class="description has-medium-font-size mt--20">There are many variations of passages of the
                        Ipsum available, but the majority have suffered alteration in some form, by injected humour.
                    </p>
                </div>
            </div>
        </div>
        <div class="row row--15 mt_dec--30">
            <!-- Start Single Team  -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 mt--30">
                <div class="team">
                    <div class="thumbnail"><img src="{% static "assets/images/team/team-05.jpg" %}" alt="Blog Images">
                    </div>
                    <div class="content">
                        <h4 class="title">Aaron Griffin</h4>
                        <p class="designation">Depertment Head</p>
                    </div>
                    <ul class="social-icon">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- End Single Team  -->

            <!-- Start Single Team  -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 mt--30">
                <div class="team">
                    <div class="thumbnail"><img src="{% static "assets/images/team/team-09.jpg" %}" alt="Blog Images">
                    </div>
                    <div class="content">
                        <h4 class="title">Rafiq Bali</h4>
                        <p class="designation">Depertment Head</p>
                    </div>
                    <ul class="social-icon">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- End Single Team  -->

            <!-- Start Single Team  -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 mt--30">
                <div class="team">
                    <div class="thumbnail"><img src="{% static "assets/images/team/team-03.jpg" %}" alt="Blog Images">
                    </div>
                    <div class="content">
                        <h4 class="title">Fatima Usa</h4>
                        <p class="designation">Depertment Head</p>
                    </div>
                    <ul class="social-icon">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- End Single Team  -->

            <!-- Start Single Team  -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 mt--30">
                <div class="team">
                    <div class="thumbnail"><img src="{% static "assets/images/team/team-07.jpg" %}" alt="Blog Images">
                    </div>
                    <div class="content">
                        <h4 class="title">John Due</h4>
                        <p class="designation">Depertment Head</p>
                    </div>
                    <ul class="social-icon">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- End Single Team  -->

        </div>
    </div>
</div>

<div class="rbt-newsletter-area newsletter-style-2 bg-color-primary rbt-section-gap">
    <div class="container">
        <div class="row row--15 align-items-center">
            <div class="col-lg-12">
                <div class="inner text-center">
                    <div class="section-title text-center">
                        <span class="subtitle bg-white-opacity">Get Latest Histudy Update</span>
                        <h2 class="title color-white"><strong>Subscribe</strong> Our Newsletter</h2>
                    </div>
                    <form action="#" class="newsletter-form-1 mt--40">
                        <input type="email" placeholder="Enter Your E-Email">
                        <button type="submit" class="rbt-btn btn-md btn-gradient hover-icon-reverse">
                            <span class="icon-reverse-wrapper">
                    <span class="btn-text">Subscribe</span>
                            <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                            <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                            </span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}